* {
  box-sizing: border-box;
}

/* header, body and footer */
header {
  height: 20px;
	background-color: #666B6A;
}
body{
  margin: 0;
}
footer{
  height: 84px;
	background-color: #666B6A;
}

/* the main title with the photo */
.big-picture{
  background-image: url("images/cactus.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align:center;
}

/* this is what makes the content centered */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

h1, h2, h3{
  text-align: center;
  font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p, ul, ol{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;
}

/* these make the heading bigger */
h1 {
  font-size: 68px;
  color:  rgb(0, 0, 0);
  text-shadow: 3px 0 3px #403933;
  /*margin: 300px 0 0 0;*/
}
h2 {
  font-size: 30px;
}
/* these add the background boxes
I'm hoping to make them spread across the screen and be responsive but I suspect material later in the course will help with that.*/
.pink{
  background: #FFD5C2;
  padding: 10px 100px;
}
.white{
  background: #FFFFFF;
  padding: 10px 100px;
}
.accent{
  background: #588B8B;
  padding: 10px 60px;
  color: #FFFFFF;
}
/* styling footer image
TODO: curretly it is centered, but I'd like to make it span the bottom and be flexible. haven't entirely decided how to do that yet.*/
.footer-img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.circle-img{
  border-radius: 50%;
  width: 100%;
}

/* ughhh I cannot figure out why this isn't selecting the group I want! I want to add a margin like the rest of the page has but I can't figure it out at the moment */

.project-prev{
  margin: 0 60px 0 60px;
}

img {
  width: 100%;
}

/* link pseudo-classes */
a:link    { color: #C9035C;  }
a:visited { color: #C9035C;   }
a:hover   { color: #F28F3B; }
a:active  { color: #EEF5DB;  }

/* Spacers (for now)*/
.gap-sm {
    height: 25px;
    width: auto;
}
.gap-md {
    height: 100px;
    width: auto;
}
.gap-lg {
    height: 200px;
    width: auto;
}