* {
  box-sizing: border-box;
}

/* Navigation*/
header {
	background-color: #C3B299;
  padding-bottom: 0px;
  font-size: 12px;
}
header nav{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
header nav ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}
header nav ul li a {
  color:black;
  text-decoration: none;
  margin: 0 10px 0 0;
}

header nav ul li a:hover{color: #6C6F7D;}


body{
  margin: 0;
}
footer{
  height: 84px;
	background-color: #6C6F7D;
}

/* the main title with the photo */
.big-picture{
  background-image: url("images/coffee.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align:center;
  padding: 20px 0px 50px 0px;
}

.profile-pic {
  border-radius: 50%;
  width: 250px;
  border: 1px solid white;
}

/* this is what makes the content centered */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* these add the background boxes
I changed the colors so the classNames don't describe the right color anymore*/

.pink{
  background: #C3B299;
  padding: 10px 10px;
}
.white{
  background: #FFFFFF;
  padding: 20px 10px;
}
.accent{
  background: #6C6F7D;
  padding: 10px 10px;
  color: #FFFFFF;
}

#projects {
  padding-top: 30px;
}

.project-prev{
  margin: 0 10px 0 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }

  header {
    padding-bottom: 10px;
    font-size: 16px;
  }

  header nav ul li a {
    margin: 0 20px 0 0;
  }

  .group {
    flex-direction: row;
  }

  .pink, .accent, .white{
  padding: 30px 100px;
  }

  

  .project-prev{
  margin: 0 60px 0 60px;
}
}

h1, h2, h3{
  text-align: center;
  font-family:  'Fraunces', serif;
}
p, ul, ol, label, form input[type='text'] {
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

/* these make the heading bigger */
h1 {
  font-size: 68px;
  color: #FFFCFF !important;
}
h2 {
  font-size: 30px;
}


.project-prev img {
  margin: 20px 0px;
}

.project-prev .item{ 
  margin: 20px;
}


img {
  width: 100%;
}

/* Project buttons */ 

.project-buttons .project-link  {
  text-align: center;
  text-decoration: none;
  border-radius:  3px;
  transition-duration: .2s;
  border: 2px solid #6C6F7D;
  margin: 5px;
  background-color: #CBD4C2;

}

.project-buttons .project-link a {
  color:black;
  padding: 5px 0px;
}

.project-buttons .project-link a:hover {
  background-color: #F3EFF5;
  text-decoration: none;
  color: black;
}


.project-title{
  text-decoration: none;
}

.project-title:link{color: black;}
.project-title:visited{color: black;}
.project-title:hover{color: #666B6A;}
.project-title:active{color: lightgrey;}


.centered{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.centered p{
  margin: 0;
}

/* link pseudo-classes */
.contact-link:link    { color: #C9035C;  }
.contact-link:visited { color: #C9035C;   }
.contact-link:hover   { color: #F28F3B; }
.contact-link:active  { color: #EEF5DB;  }


form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form input {
  height: 30px;
}

form textarea {
  height: 160px;
}

#contact button {
  background-color: #CBD4C2;
  border-radius:  3px;
  transition-duration: .2s;
  border: 2px solid #6C6F7D;
  padding: 5px 15px;
}

#contact button:hover {
  background-color: #F3EFF5;
  cursor: pointer;
}

.icon{
  width: 50px;
}
#contact ul{
  list-style: none;
  display: flex;
  padding-left: 0px;
}

#contact li{
  margin: 10px;
}

footer {
  height: 50px;
}
footer p {
  text-align: center;
  color: white;
  margin-bottom: 0px;
  padding-top: 15px
}

.unbury{
  border-radius: 40px;
}